################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TakeCare/.vs
/TakeCare/TakeCare/TakeCare.Web/bin
/TakeCare/TakeCare/TakeCare.Web/obj
